@media(max-width: 560px){
  .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-bottom: -10%;
      background-attachment: fixed
  }
}
@media(min-width: 560px){
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
}
hr{
  border-top: none!important
}