*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: transparent;
    background-size: cover;
    color: whitesmoke;
    font-size: 0.9rem;
}
.wrap{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.widget{
    width: 40%;
    margin: 2em;
}
.widget p{
    display: inline-block;
    line-height: 1em;
}
.fecha{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125em;
    background: rgba(0,0,0,.2);
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}
.reloj{
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0,0,0,.2);
    border-radius: 5px;

}
.reloj .caja-segundos{
    display: inline-block;
}
.reloj .segundos,
.reloj .ampm{
    font-size: 1.5rem;
    display: block;
}
.ampm{
    margin-bottom: -5%;
}
@media(max-width: 560px){
body{
    font-size: 0.8rem;
}
.widget{
    width: 100%;
}
}